@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family:  Helvetica, sans-serif;
  background-color: #f2f4f7;
}
.f-size{
  font-family:  Helvetica, sans-serif;
  font-size: 28px;
  width: 90%;
}

input:placeholder{
  font-family:  Helvetica, sans-serif;
}

.p-color{
  color: #1c1e21;
}

.myOutline:focus  {
  outline: 0.7px solid #5b9aff;
  box-shadow: inset 0 5px rgba(0, 0, 255, 0.5);
}
